.list-card {
    width: 16em;
    height: auto;
    border-color: #f52a2a;
}

.list-card:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.list-card .card-body {
    border-color: #f52a2a;
    background-color: #f52a2a;
    color: #ffffe6;
}

.card-img-top {
    height: 14em;
}